Repository hmcts/idam-user-dashboard, pull requests merged in 2022-05, with the labels that each got.

#305 SIDM-6594 Enable registration of new users with private beta citizen roles
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/AddPrivateBetaServiceController.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/AddUserRolesController.ts
  src/main/interfaces/PrivateBetaService.ts
  src/main/interfaces/services.ts
  src/main/modules/awilix/index.ts
  src/main/modules/nunjucks/index.ts
  src/main/routes.ts
  src/main/utils/error.ts
  src/main/utils/serviceUtils.ts
  src/main/utils/urls.ts
  src/main/utils/utils.ts
  src/main/views/add-user-details.njk
  src/main/views/add-user-private-beta-service.njk
  src/main/views/add-user-roles.njk
  src/test/a11y/a11y.ts
  src/test/functional/register-user-test.ts
  src/test/functional/shared/helpers/testingSupportApiHelper.ts
  src/test/functional/shared/random-data.ts
  src/test/functional/shared/testingSupportApi.ts
  src/test/unit/test/controllers/AddPrivateBetaServiceController.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUserRolesController.ts
  src/test/unit/test/utils/roleUtils.ts
  src/test/unit/test/utils/serviceUtils.ts
  src/test/unit/test/utils/utils.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-305

#308 SIDM-6594 Disable 'Citizen' option during user registration if the logged in user does not have the assignable role of 'citizen'
  src/main/controllers/AddUserDetailsController.ts
  src/main/views/add-user-details.njk
  src/test/unit/test/controllers/AddUserDetailsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-308

#309 SIDM-7210 - Fixed accessibility issues
  src/main/assets/scss/inputs.scss
  src/main/views/add-user-details.njk
  src/main/views/add-user-roles.njk
  src/main/views/edit-user.njk
  src/test/a11y/a11y.ts
  src/test/functional/edit-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-309

#330 SIDM-7623 - Wrap gamma features with feature flags
  src/main/app/feature-flags/flags.ts
  src/main/routes.ts
  src/main/views/add-user-details.njk
  src/main/views/edit-user.njk
  src/main/views/template.njk
  src/test/functional/edit-user-test.ts
  src/test/functional/register-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-330

#329 SIDM-7622 - Re-added use of /o/endSession for logging out
  src/main/app/idam-api/IdamAPI.ts
  src/main/app/idam-auth/IdamAuth.ts
  src/main/app/idam-auth/OIDCToken.ts
  src/main/modules/oidc/index.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/app/idam-auth/IdamAuth.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-329

#325 SIDM-7189 - Added generating report feature
  package.json
  src/main/app/feature-flags/flags.ts
  src/main/app/idam-api/IdamAPI.ts
  src/main/app/reports/ReportsHandler.ts
  src/main/assets/scss/inputs.scss
  src/main/controllers/DownloadReportController.ts
  src/main/controllers/GenerateReportController.ts
  src/main/controllers/UserOptionController.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/utils/error.ts
  src/main/utils/urls.ts
  src/main/views/generate-report.njk
  src/main/views/user-option.njk
  src/main/views/view-report.njk
  src/test/functional/generate-user-report.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/app/reports/ReportsHandler.ts
  src/test/unit/test/controllers/DownloadReportController.ts
  src/test/unit/test/controllers/GenerateReportController.ts
  src/test/unit/test/controllers/UserOptionController.ts
  src/test/unit/utils/mockApi.ts
  src/test/unit/utils/mockResponse.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-325

#334 SIDM-7676 - Added conditional for checking if rolesmap has role
  src/main/app/idam-api/IdamAPI.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-334
