Repository hmcts/idam-user-dashboard, pull requests merged in 2022-07, with the labels that each got.

#354 Added functional tests for remove-sso from user
  src/test/functional/delete-user-test.ts
  src/test/functional/remove-SSO-ID-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-354

#353 SIDM-7647 Hide report table on report details page for mobile devices
  src/main/assets/scss/main.scss
  src/main/assets/scss/table.scss
  src/main/views/view-report.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-353

#359 CVE fixes - Upgrade nodejs-logging and nodejs-healthcheck
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-359

#358 SIDM-7649 - Removed extra H1 on manage users page
  src/main/views/manage-user.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-358

#361 SIDM-7649 - Updated search page headers
  src/main/views/manage-user.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-361

#362 Added new custom step for logging out
  src/test/functional/custom-steps.ts
  src/test/functional/delete-user-test.ts
  src/test/functional/lock-account-test.ts
  src/test/functional/suspend-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-362
