Repository hmcts/idam-user-dashboard, pull requests merged in 2022-04, with the labels that each got.

#276 SIDM-7112 Update role list appearance of Edit User screen
  src/main/assets/scss/roleList.scss
  src/main/utils/roleUtils.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/utils/roleUtils.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-276

#277 Add specific search by email and SSO ID methods
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/UserResultsController.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUserRolesController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/utils/mockApi.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-277

#283 Rename 'users' to 'user' in user dashboard UI and URLs
  src/main/controllers/AddUserController.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/ManageUserController.ts
  src/main/controllers/UserOptionController.ts
  src/main/controllers/UserResultsController.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/utils/urls.ts
  src/main/views/add-user-completion.njk
  src/main/views/add-user-details.njk
  src/main/views/add-user-roles.njk
  src/main/views/add-user.njk
  src/main/views/delete-user-successful.njk
  src/main/views/delete-user.njk
  src/main/views/edit-user.njk
  src/main/views/manage-user.njk
  src/main/views/suspend-user-successful.njk
  src/main/views/suspend-user.njk
  src/main/views/un-suspend-user-successful.njk
  src/main/views/un-suspend-user.njk
  src/main/views/user-details.njk
  src/main/views/user-option.njk
  src/test/a11y/a11y.ts
  src/test/functional/delete-user-test.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/error-page-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/register-user-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/suspend-user-test.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUsersController.ts
  src/test/unit/test/controllers/ManageUserController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserOptionController.ts
  src/test/unit/test/controllers/UserResultsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-283

#285 Added edit-roles functional test
  src/test/functional/edit-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-285

#286 Cleanup unit tests - Updated old unit tests to use mockRootController
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUserRolesController.ts
  src/test/unit/test/controllers/AddUsersController.ts
  src/test/unit/test/controllers/ManageUserController.ts
  src/test/unit/test/controllers/UserOptionController.ts
  src/test/unit/utils/mockRootController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-286

#288 Revert "Bump playwright from 1.19.2 to 1.20.1"
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-288

#284 SIDM-7319 added accessibility statement page
  src/main/controllers/AccessibilityStatementController.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/utils/urls.ts
  src/main/views/accessibility-statement.njk
  src/main/views/template.njk
  src/test/unit/test/controllers/AccessibilityStatementController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-284

#295 Fix for undefined/malformed roles causing a 500 error on login
  src/main/app/idam-api/IdamAPI.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-295

#294 SIDM-6919 Add multi-factor authentication flag for idam-mfa-disabled user role
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/UserEditController.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/User.ts
  src/main/utils/roleUtils.ts
  src/main/views/edit-user.njk
  src/main/views/user-details.njk
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/test/utils/roleUtils.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-294

#302 Temp ignore winston issues
  yarn-audit-known-issues
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-302

#296 Add functional tests for MFA security approval
  src/test/config.ts
  src/test/functional/edit-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-296

#299 SIDM-7407 changed all places referencing un-suspend to unsuspend
  src/main/controllers/UserActionsController.ts
  src/main/controllers/UserSuspendController.ts
  src/main/views/unsuspend-user-successful.njk
  src/main/views/unsuspend-user.njk
  src/main/views/user-details.njk
  src/test/functional/suspend-user-test.ts
  src/test/unit/test/controllers/UserSuspendController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-299

#300 Sidm 7355
  package.json
  src/main/modules/csrf/index.ts
  src/test/a11y/a11y.ts
  src/test/functional/error-page-test.ts
  src/test/functional/shared/helpers/testingSupportApiHelper.ts
  src/test/functional/shared/testingSupportApi.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-300

#303 SIDM-7478 Fix accessibility test failures for duplicated list item IDs on user details page
  src/main/views/user-details.njk
  src/test/functional/edit-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-303
