Repository hmcts/idam-user-dashboard, pull requests merged in 2022-03, with the labels that each got.

#220 Small changes
  Jenkinsfile_nightly
  src/test/functional/shared/helpers/featureFlagHelper.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-220

#222 Archive build artifacts
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/idam-user-dashboard/Chart.yaml
  package.json
  src/test/cross-browser/saucelabs.conf.ts
  src/test/functional/codecept.conf.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-222

#223 Hide 'add users' behind beta feature flag
  src/main/routes.ts
  src/main/views/user-option.njk
  src/test/functional/edit-user-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-223

#237 edit-user - Updated edit user to match delete user controller style
  src/main/controllers/UserActionsController.ts
  src/main/controllers/UserEditController.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/utils/urls.ts
  src/main/views/edit-user.njk
  src/test/unit/test/controllers/UserActionsController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/utils/mockRootController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-237

#239 fix-async-tests - Fix for async actions in tests ignoring global promise chain
  src/test/config.ts
  src/test/functional/codecept.conf.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/error-page-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/shared/helpers/testingSupportApiHelper.ts
  src/test/functional/shared/idam-helper.ts
  src/test/functional/shared/testingSupportApi.ts
  src/test/functional/sign-in-user-test.ts
  src/test/functional/steps.d.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-239

#235 SIDM-6606--1 - Added ability to delete user based on roles
  src/main/app/idam-api/IdamAPI.ts
  src/main/app/idam-auth/IdamAuth.ts
  src/main/controllers/UserActionsController.ts
  src/main/controllers/UserDeleteController.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/User.ts
  src/main/modules/awilix/index.ts
  src/main/modules/error-handler/asyncErrorDecorator.ts
  src/main/modules/oidc/index.ts
  src/main/routes.ts
  src/main/utils/error.ts
  src/main/utils/urls.ts
  src/main/views/delete-user-successful.njk
  src/main/views/delete-user.njk
  src/main/views/edit-user.njk
  src/main/views/manage-users.njk
  src/main/views/user-details.njk
  src/test/functional/delete-user-test.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/error-page-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/shared/helpers/testingSupportApiHelper.ts
  src/test/functional/shared/testingSupportApi.ts
  src/test/functional/sign-in-user-test.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/UserActionsController.ts
  src/test/unit/test/controllers/UserDeleteController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserResultsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-235

#238 SIDM-6761 / SIDM-7177 - Added suspend functionality
  src/main/controllers/UserActionsController.ts
  src/main/controllers/UserResultsController.ts
  src/main/controllers/UserSuspendController.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/utils/urls.ts
  src/main/views/suspend-user-successful.njk
  src/main/views/suspend-user.njk
  src/main/views/un-suspend-user-successful.njk
  src/main/views/un-suspend-user.njk
  src/main/views/user-details.njk
  src/test/functional/custom-steps.ts
  src/test/functional/suspend-user-test.ts
  src/test/unit/test/controllers/UserActionsController.ts
  src/test/unit/test/controllers/UserSuspendController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-238

#250 SIDM-7211 - Added functional testing for edit user
  src/main/controllers/UserEditController.ts
  src/test/functional/delete-user-test.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/error-page-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/shared/random-data.ts
  src/test/functional/sign-in-user-test.ts
  src/test/functional/suspend-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-250

#253 Changed deleteAllTestData to use async
  src/test/functional/shared/testingSupportApi.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-253

#257 CVE-2021-44906 Update version for miminist dependency to fix security vulnerability
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-257

#265 SIDM-7290 - Wrapped each beta feature in its own flag
  src/main/app/feature-flags/flags.ts
  src/main/controllers/RootController.ts
  src/main/interfaces/PageData.ts
  src/main/routes.ts
  src/main/views/user-details.njk
  src/main/views/user-option.njk
  src/test/functional/delete-user-test.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/suspend-user-test.ts
  src/test/unit/test/controllers/RootController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-265

#256 SIDM-7124 - Add functionality to register a new user
  config/default.yaml
  src/main/app/idam-api/IdamAPI.ts
  src/main/assets/js/RoleList.js
  src/main/assets/js/index.js
  src/main/assets/scss/inputs.scss
  src/main/assets/scss/main.scss
  src/main/assets/scss/roleList.scss
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/AddUserRolesController.ts
  src/main/controllers/UserActionsController.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/SelectItem.ts
  src/main/interfaces/Service.ts
  src/main/interfaces/UserRegistrationDetails.ts
  src/main/interfaces/UserRoleAssignment.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/utils/UserType.ts
  src/main/utils/error.ts
  src/main/utils/roleUtils.ts
  src/main/utils/urls.ts
  src/main/views/add-user-completion.njk
  src/main/views/add-user-details.njk
  src/main/views/add-user-roles.njk
  src/main/views/add-users.njk
  src/main/views/macros/roleList.njk
  src/main/views/webpack/js-template.njk
  src/main/views/webpack/js.njk
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUserRolesController.ts
  src/test/unit/test/controllers/UserDeleteController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/test/controllers/UserSuspendController.ts
  src/test/unit/test/utils/roleUtils.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-256

#267 Fixed helmet and removed unused GA stuff
  src/main/modules/helmet/index.ts
  src/main/views/template.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-267

#268 SIDM-7124 - Added search box ID for roleList
  src/main/views/add-user-roles.njk
  src/main/views/macros/roleList.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-268

#273 Sidm 7333
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/UserResultsController.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/register-user-test.ts
  src/test/functional/search-user-test.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-273

#274 Added titles to pages
  src/main/views/add-user-completion.njk
  src/main/views/add-user-details.njk
  src/main/views/add-user-roles.njk
  src/main/views/add-users.njk
  src/main/views/delete-user-successful.njk
  src/main/views/delete-user.njk
  src/main/views/edit-user.njk
  src/main/views/error.njk
  src/main/views/manage-users.njk
  src/main/views/suspend-user-successful.njk
  src/main/views/suspend-user.njk
  src/main/views/un-suspend-user-successful.njk
  src/main/views/un-suspend-user.njk
  src/main/views/user-details.njk
  src/main/views/user-option.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-274

#272 SIDM-7112 Add functionality to add/remove assignable roles in edit user page
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/AddUserRolesController.ts
  src/main/controllers/UserEditController.ts
  src/main/interfaces/RoleDefinition.ts
  src/main/interfaces/UserRoleAssignment.ts
  src/main/utils/roleUtils.ts
  src/main/utils/utils.ts
  src/main/views/edit-user.njk
  src/main/views/macros/roleList.njk
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/UserDeleteController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserSuspendController.ts
  src/test/unit/test/utils/roleUtils.ts
  src/test/unit/test/utils/utils.ts
  src/test/unit/utils/mockApi.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-272
