Repository hmcts/idam-user-dashboard, pull requests merged in 2022-06, with the labels that each got.

#335 SIDM-7678 - Activated roles searchbox on edit user page
  src/main/views/edit-user.njk
  src/test/functional/edit-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-335

#338 SIDM-6938 Show warning message for locked users in user details page
  src/main/app/feature-flags/flags.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/User.ts
  src/main/routes.ts
  src/main/utils/utils.ts
  src/main/views/user-details.njk
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/test/utils/utils.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-338

#343 SIDM-7651 Improve accessibility for error suggestion on main screen
  src/main/controllers/RootController.ts
  src/main/controllers/UserOptionController.ts
  src/main/interfaces/SelectItem.ts
  src/main/utils/UserOption.ts
  src/main/utils/error.ts
  src/main/utils/utils.ts
  src/main/views/user-option.njk
  src/test/unit/test/controllers/UserOptionController.ts
  src/test/unit/test/utils/utils.ts
  src/test/unit/utils/mockRootController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-343

#340 SIDM-7648 made changes to title and tab
  src/main/views/add-user-details.njk
  src/main/views/add-user-roles.njk
  src/main/views/add-user.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-340

#342 SIDM-7650 changed warning message to error when searching for user
  src/main/controllers/UserResultsController.ts
  src/main/views/manage-user.njk
  src/test/unit/test/controllers/UserResultsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-342

#341 SIDM-7646 changed user details to use nunjucks
  src/main/controllers/UserResultsController.ts
  src/main/views/user-details.njk
  src/test/functional/edit-user-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/register-user-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/sign-in-user-test.ts
  src/test/functional/suspend-user-test.ts
  src/test/unit/test/controllers/UserResultsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-341

#349 Added 500 user limit warning and fixed incorrect string
  src/main/views/generate-report.njk
  src/main/views/view-report.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-349

#266 SIDM-7178 - Removing SSO
  src/main/app/feature-flags/flags.ts
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/UserActionsController.ts
  src/main/controllers/UserRemoveSsoController.ts
  src/main/controllers/UserResultsController.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/utils/error.ts
  src/main/utils/urls.ts
  src/main/views/remove-sso-user-successful.njk
  src/main/views/remove-sso-user.njk
  src/main/views/user-details.njk
  src/test/unit/test/controllers/UserRemoveSsoController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/utils/mockApi.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-266

#352 Sidm 7728 ft
  charts/idam-user-dashboard/Chart.yaml
  src/test/functional/lock-account-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-352
