Repository hmcts/idam-user-dashboard, pull requests merged in 2022-02, with the labels that each got.

#146 dep-cleanup - cleaned up a few deps
  package.json
  src/main/controllers/UserResultsController.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-146

#148 webpack-5 - Upgraded to webpack 5 (5.66.0)
  package.json
  src/main/types/govuk-frontend.d.ts
  webpack/scss.js
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-148

#149 CVE-2020-7789 - Patch CVE-2020-7789
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-149

#125 SIDM-6943--1 - Fixed issues, implemented bootstrap/teardown of accounts, cleaned up tests
  src/test/config.ts
  src/test/functional/codecept.conf.ts
  src/test/functional/custom-steps.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/shared/apiHelpers.ts
  src/test/functional/sign-in-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-125

#150 SIDM-6603 - Fix for sign-out issues
  src/main/modules/oidc/index.ts
  src/main/utils/urls.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-150

#152 fix-attempt-1
  src/main/modules/oidc/index.ts
  src/main/utils/urls.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-152

#151 SIDM-6906 Add additional information to user details screen
  src/main/controllers/UserResultsController.ts
  src/main/utils/utils.ts
  src/main/views/manage-users.njk
  src/main/views/user-details.njk
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/test/utils/utils.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-151

#154 SIDM-6603 - Ensured cookie was removed and fixed temp-file-store warning
  config/default.yaml
  src/main/app.ts
  src/main/modules/oidc/index.ts
  src/main/modules/session/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-154

#155 Switch from a GET to a POST for user-results due to security
  src/main/controllers/UserResultsController.ts
  src/main/routes.ts
  src/main/views/manage-users.njk
  src/test/unit/test/controllers/UserResultsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-155

#156 CSRF, banner and error page fixes
  package.json
  src/main/HttpError.ts
  src/main/app.ts
  src/main/assets/scss/header.scss
  src/main/assets/scss/main.scss
  src/main/modules/csrf/index.ts
  src/main/modules/error-handler/index.ts
  src/main/modules/nunjucks/index.ts
  src/main/modules/oidc/index.ts
  src/main/views/add-users.njk
  src/main/views/error.njk
  src/main/views/macros/breadcrumb.njk
  src/main/views/macros/csrf.njk
  src/main/views/manage-users.njk
  src/main/views/not-found.njk
  src/main/views/template.njk
  src/main/views/user-details.njk
  src/main/views/user-option.njk
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-156

#157 Added methods to apiHelper for OIDCToken and suspendUser
  src/test/config.ts
  src/test/functional/shared/apiHelpers.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-157

#158 Added Error Page tests for status codes 403 & 404
  src/test/functional/error-page-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-158

#172 Added deleteStaleUser, getUserDetails and createUserWithSSOId methods…
  src/main/views/user-details.njk
  src/test/config.ts
  src/test/functional/codecept.conf.ts
  src/test/functional/custom-steps.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/shared/apiHelpers.ts
  src/test/functional/shared/random-data.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-172

#175 Update app insight request data by adding extra custom dimensions info
  src/main/modules/appinsights/index.ts
  src/main/utils/utils.ts
  src/test/unit/test/utils/utils.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-175

#180 CVE-2022-0536 - Upgrade axios
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-180

#183 Upgrade chart-nodejs version
  charts/idam-user-dashboard/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-183

#188 Updated URL format and added URLs to page content, updated IdamApi class to use DI
  src/main/app/idam-api/IdamApi.ts
  src/main/controllers/RootController.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/PageData.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/main/utils/urls.ts
  src/main/views/manage-users.njk
  src/main/views/user-details.njk
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/AddUsersController.ts
  src/test/unit/test/controllers/ManageUsersController.ts
  src/test/unit/test/controllers/RootController.ts
  src/test/unit/test/controllers/UserOptionController.ts
  src/test/unit/test/controllers/UserResultsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-188

#189 Dropped use of idamOwner,super-user and admin-user accounts.
  src/test/config.ts
  src/test/functional/codecept.conf.ts
  src/test/functional/custom-steps.ts
  src/test/functional/error-page-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/shared/apiHelpers.ts
  src/test/functional/shared/random-data.ts
  src/test/functional/sign-in-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-189

#190 Undo DI changes
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/UserResultsController.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/UserResultsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-190

#191 Fix Safari on local env / Helmet to not use defaults option
  src/main/modules/helmet/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-191

#192 Moved AppInsights to enable before Awilix container setup
  src/main/app.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-192

#193 Added happy path cross-browser tests
  package.json
  src/test/cross-browser/saucelabs.conf.ts
  src/test/functional/error-page-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/sign-in-user-test.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-193

#194 SIDM-6609 Add searching by ID and SSO ID functionalities to manage users page
  nodemon.json
  package.json
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/UserResultsController.ts
  src/main/utils/SearchType.ts
  src/main/utils/error.ts
  src/main/utils/utils.ts
  src/main/utils/validation.ts
  src/main/views/manage-users.njk
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/test/utils/utils.ts
  src/test/unit/test/utils/validation.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-194

#195 Functional tests for search by sso-id and user-id
  src/test/functional/search-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-195

#196 SIDM-6940 - Update UI for user details page
  src/main/assets/scss/button.scss
  src/main/assets/scss/main.scss
  src/main/views/manage-users.njk
  src/main/views/user-details.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-196

#206 Functional test for search by sso-id and user-id conflict
  src/test/functional/search-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-206

#205 async-error-wrap - Added asyncError class/method decorator
  src/main/controllers/RootController.ts
  src/main/controllers/UserResultsController.ts
  src/main/modules/error-handler/asyncErrorDecorator.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-205

#209 SIDM-6598 - Added editing user details functionality
  nodemon.json
  src/main/app/idam-api/IdamAPI.ts
  src/main/assets/scss/inputs.scss
  src/main/assets/scss/main.scss
  src/main/controllers/UserActionsController.ts
  src/main/interfaces/AuthedRequest.ts
  src/main/interfaces/Role.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/main/routes.ts
  src/main/utils/error.ts
  src/main/utils/urls.ts
  src/main/utils/utils.ts
  src/main/views/edit-user.njk
  src/main/views/user-details.njk
  src/test/functional/edit-user-test.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/UserActionsController.ts
  src/test/unit/test/utils/utils.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-209

#210 SIDM-7195 - Update 'Add Users' screen with form to add new user's email
  src/main/controllers/AddUserDetailsController.ts
  src/main/modules/awilix/index.ts
  src/main/routes.ts
  src/main/utils/error.ts
  src/main/utils/urls.ts
  src/main/views/add-user-details.njk
  src/main/views/add-users.njk
  src/test/unit/test/controllers/AddUserDetailsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-210

#211 SIDM-7202 - Restricted idam-user-dashboard to specific role
  config/default.yaml
  src/main/modules/oidc/index.ts
  src/test/config.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/error-page-test.ts
  src/test/functional/manage-users-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/sign-in-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-211

#214 Added negative test for role based access
  src/test/functional/sign-in-user-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-214

#213 SIDM-7200 - Added functional testing checks for feature flags and enabled feature flags for edit users
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/main/app/feature-flags/LaunchDarklyClient.ts
  src/main/app/feature-flags/flags.ts
  src/main/routes.ts
  src/main/views/user-details.njk
  src/test/config.ts
  src/test/cross-browser/saucelabs.conf.ts
  src/test/cross-browser/test_test.ts
  src/test/functional/codecept.conf.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/shared/helpers/featureFlagHelper.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-213
