Repository hmcts/idam-user-dashboard, pull requests merged in 2023-08, with the labels that each got.

#516 update readme
  README.md
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-516

#527 Upgrade Java to 17
  java/build.gradle
  java/gradle/wrapper/gradle-wrapper.jar
  java/gradle/wrapper/gradle-wrapper.properties
  java/gradlew
  java/gradlew.bat
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-527

#439 SIDM-6605 I want to know archived accounts are read only
  src/main/controllers/UserResultsController.ts
  src/main/views/user-details.njk
  src/test/functional/manage-users-test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-439

#446 SIDM-6916 Restful URL for View User Details
  src/main/controllers/ManageUserController.ts
  src/main/controllers/UserDeleteController.ts
  src/main/controllers/UserRemoveSsoController.ts
  src/main/controllers/UserResultsController.ts
  src/main/controllers/UserSuspendController.ts
  src/main/routes.ts
  src/main/utils/urls.ts
  src/main/views/delete-user.njk
  src/main/views/edit-user.njk
  src/main/views/manage-user.njk
  src/main/views/remove-sso-user-successful.njk
  src/main/views/remove-sso-user.njk
  src/main/views/suspend-user-successful.njk
  src/main/views/suspend-user.njk
  src/main/views/unsuspend-user-successful.njk
  src/main/views/unsuspend-user.njk
  src/main/views/view-report.njk
  src/test/functional/custom-steps.ts
  src/test/unit/test/controllers/ManageUserController.ts
  src/test/unit/test/controllers/UserDeleteController.ts
  src/test/unit/test/controllers/UserRemoveSsoController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/test/controllers/UserSuspendController.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-446
