Repository hmcts/idam-user-dashboard, pull requests merged in 2023-09, with the labels that each got.

#551 SIDM-8414-Reverted the change (Added check not to call inviteService …
  src/main/controllers/AddUserRolesController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-551

#559 Bump yarn version
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-559

#622 Remove dependabot plus renovate config
  .github/dependabot.yml
  .github/renovate.json
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-622
