Repository hmcts/idam-user-dashboard, pull requests merged in 2023-10, with the labels that each got.

#643 Update base chart-nodejs
  charts/idam-user-dashboard/Chart.yaml
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-643

#653 Revert "Update dependency playwright to v1.38.1"
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-653

#657 Delete stale users
  config/default.yaml
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/UserDeleteController.ts
  src/main/views/user-details.njk
  src/test/functional/delete-user-test.ts
  src/test/functional/manage-users-test.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-657

#660 Add open in new page button
  src/main/controllers/UserResultsController.ts
  src/main/views/user-details.njk
  src/main/views/view-report.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-660
