Repository hmcts/idam-user-dashboard, pull requests merged in 2023-06, with the labels that each got.

#497 Revert "SIDM-7454 - Replaced OIDC setup with express-openid-connect"
  config/default.yaml
  package.json
  src/main/app.ts
  src/main/app/idam-auth/IdamAuth.ts
  src/main/app/idam-auth/OIDCToken.ts
  src/main/controllers/AddPrivateBetaServiceController.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/AddUserRolesController.ts
  src/main/controllers/RootController.ts
  src/main/controllers/UserEditController.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/AuthedRequest.ts
  src/main/modules/awilix/index.ts
  src/main/modules/csrf/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/session/index.ts
  src/main/views/template.njk
  src/test/functional/sign-in-user-test.ts
  src/test/unit/test/app/idam-auth/IdamAuth.ts
  src/test/unit/test/controllers/AddPrivateBetaServiceController.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUserRolesController.ts
  src/test/unit/test/controllers/RootController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-497

#498 SIDM-8511 change session cookie name for user dashboard
  config/default.yaml
  package.json
  src/main/app.ts
  src/main/app/idam-auth/IdamAuth.ts
  src/main/app/idam-auth/OIDCToken.ts
  src/main/controllers/AddPrivateBetaServiceController.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/AddUserRolesController.ts
  src/main/controllers/RootController.ts
  src/main/controllers/UserEditController.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/AuthedRequest.ts
  src/main/modules/awilix/index.ts
  src/main/modules/csrf/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/session/index.ts
  src/main/views/template.njk
  src/test/functional/sign-in-user-test.ts
  src/test/unit/test/app/idam-auth/IdamAuth.ts
  src/test/unit/test/controllers/AddPrivateBetaServiceController.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUserRolesController.ts
  src/test/unit/test/controllers/RootController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-498

#502 SIDM-8511 - Replaced OIDC setup with express-openid-connect
  config/default.yaml
  package.json
  src/main/app.ts
  src/main/app/idam-auth/IdamAuth.ts
  src/main/app/idam-auth/OIDCToken.ts
  src/main/controllers/AddPrivateBetaServiceController.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/AddUserRolesController.ts
  src/main/controllers/RootController.ts
  src/main/controllers/UserEditController.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/AuthedRequest.ts
  src/main/modules/awilix/index.ts
  src/main/modules/csrf/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/session/index.ts
  src/main/views/template.njk
  src/test/functional/sign-in-user-test.ts
  src/test/unit/test/app/idam-auth/IdamAuth.ts
  src/test/unit/test/controllers/AddPrivateBetaServiceController.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUserRolesController.ts
  src/test/unit/test/controllers/RootController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-502
