Repository hmcts/idam-user-dashboard, pull requests merged in 2024-02, with the labels that each got.

#807 Update govuk-frontend
  .eslintignore
  .gitignore
  package.json
  src/main/views/accessibility-statement.njk
  src/main/views/add-user-completion.njk
  src/main/views/add-user-details.njk
  src/main/views/add-user-private-beta-service.njk
  src/main/views/add-user-roles.njk
  src/main/views/add-user.njk
  src/main/views/delete-user-successful.njk
  src/main/views/delete-user.njk
  src/main/views/edit-user.njk
  src/main/views/generate-report.njk
  src/main/views/macros/breadcrumb.njk
  src/main/views/macros/errorSummary.njk
  src/main/views/macros/roleList.njk
  src/main/views/manage-user.njk
  src/main/views/remove-sso-user-successful.njk
  src/main/views/remove-sso-user.njk
  src/main/views/suspend-user-successful.njk
  src/main/views/suspend-user.njk
  src/main/views/template.njk
  src/main/views/unsuspend-user-successful.njk
  src/main/views/unsuspend-user.njk
  src/main/views/user-details.njk
  src/main/views/user-option.njk
  src/main/views/view-report.njk
  src/main/views/webpack/css.njk
  src/main/views/webpack/js.njk
  src/test/functional/delete-user-test.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/suspend-user-test.ts
  webpack/govukFrontend.js
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-807

#815 SIDM-9057 add v2 edit user tests
  src/test/v2/common/dao/SetupDao.ts
  src/test/v2/common/factories/roles.ts
  src/test/v2/common/factories/users.ts
  src/test/v2/common/shared_config.ts
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/view_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-815

#823 SIDM-9057 more v2 tests
  src/test/functional/delete-user-test.ts
  src/test/functional/edit-user-test.ts
  src/test/functional/lock-account-test.ts
  src/test/functional/remove-SSO-ID-test.ts
  src/test/functional/suspend-user-test.ts
  src/test/v2/common/dao/SetupDao.ts
  src/test/v2/functional/delete_user_test.ts
  src/test/v2/functional/edit_user_remove_sso_test.ts
  src/test/v2/functional/suspend_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-823

#825 Compile renovate upgrades into one pr
  .nvmrc
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-825

#824 SIDM-9057 even more tests
  src/test/functional/error-page-test.ts
  src/test/functional/generate-user-report-test.ts
  src/test/functional/search-user-test.ts
  src/test/functional/sign-in-user-test.ts
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/delete_user_test.ts
  src/test/v2/functional/edit_user_remove_sso_test.ts
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/error_page_test.ts
  src/test/v2/functional/generate_user_report_test.ts
  src/test/v2/functional/search_user_test.ts
  src/test/v2/functional/sign_in_test.ts
  src/test/v2/functional/suspend_user_test.ts
  src/test/v2/functional/view_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-824

#828 admins per worker
  src/test/v2/common/dao/SetupDao.ts
  src/test/v2/cross-browser/saucelabs.conf.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-828

#834 SIDM 9057 register test
  src/test/functional/register-user-test.ts
  src/test/v2/common/factories/services.ts
  src/test/v2/common/shared_config.ts
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/register_private_beta_citizen_test.ts
  src/test/v2/functional/register_user_test.ts
  src/test/v2/functional/search_user_test.ts
  src/test/v2/functional/sign_in_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-834

#836 fixes
  src/test/v2/functional/delete_user_test.ts
  src/test/v2/functional/sign_in_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-836

#835 Fix govuk script
  src/main/modules/helmet/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-835

#844 SIDM-9057 add see after click
  src/test/v2/functional/delete_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-844

#840 SIDM-9057 check user gets created
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/delete_user_test.ts
  src/test/v2/functional/edit_user_remove_sso_test.ts
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/generate_user_report_test.ts
  src/test/v2/functional/register_private_beta_citizen_test.ts
  src/test/v2/functional/search_user_test.ts
  src/test/v2/functional/sign_in_test.ts
  src/test/v2/functional/suspend_user_test.ts
  src/test/v2/functional/view_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-840

#845 SIDM-9057 check creation of roles and services
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/delete_user_test.ts
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/generate_user_report_test.ts
  src/test/v2/functional/register_private_beta_citizen_test.ts
  src/test/v2/functional/register_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-845

#846 SIDM-9057 uniqueness for role and service names
  src/test/v2/common/factories/roles.ts
  src/test/v2/common/factories/services.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-846

#847 SIDM-9057 add logging
  src/main/modules/oidc/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-847

#848 SIDM-9057 better logging
  src/main/modules/oidc/index.ts
  src/test/v2/common/factories/roles.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-848

#854 CVE-2023-42282: Fix a vulnerability in ip:1.1.8
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-854

#858 add readme
  src/test/v2/README.md
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-858
