Repository hmcts/idam-user-dashboard, pull requests merged in 2024-07, with the labels that each got.

#905 SIDM-8981 Explain empty page
  src/main/controllers/ViewReportController.ts
  src/main/utils/error.ts
  src/main/views/view-report.njk
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-905

#904 SIDM-9274 yarn versions
  package.json
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-904

#910 SIDM-9272 filter specific role before whole list
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/register_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-910

#909 SIDM-9290 Get lock duration from config
  config/default.yaml
  src/main/controllers/UserResultsController.ts
  src/test/unit/test/controllers/UserResultsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-909

#912 Incorporate role search and hide logic
  src/main/assets/js/RoleList.js
  src/main/views/macros/roleList.njk
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/register_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-912

#914 Switch to v4
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.7.0.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-914

#916 Switch to ioredis
  package.json
  src/main/app/reports/ReportsHandler.ts
  src/main/modules/oidc/index.ts
  src/test/unit/test/app/reports/ReportsHandler.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-916

#915 Sidm 9303 fix logs
  package-lock.json
  package.json
  src/main/app.ts
  src/main/app/authorized-axios/AuthorizedAxios.ts
  src/main/app/idam-api/IdamAPI.ts
  src/main/app/invite-service/InviteService.ts
  src/main/app/reports/ReportsHandler.ts
  src/main/app/service-provider-service/ServiceProviderService.ts
  src/main/controllers/DownloadReportController.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/Logger.ts
  src/main/modules/appinsights/index.ts
  src/main/modules/error-handler/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/properties-volume/index.ts
  src/main/server.ts
  src/main/typing/@hmcts/nodejs-logging.d.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/app/service-provider-service/ServiceProviderService.ts
  src/test/unit/test/controllers/DownloadReportController.ts
  src/test/unit/utils/mockLogger.ts
  tsconfig.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-915

#921 SIDM-9303 more logging
  src/main/app.ts
  src/main/app/authorized-axios/AuthorizedAxios.ts
  src/main/controllers/ManageUserController.ts
  src/main/controllers/UserResultsController.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-921

#924 hc log
  src/main/modules/health/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-924

#925 SIDM-9304 more logging
  src/main/controllers/UserResultsController.ts
  src/main/modules/oidc/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-925

#926 SIDM-9304 log not found
  src/main/modules/error-handler/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-926

#927 Run audit fix
  package-lock.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-927

#931 SIDM-9304 log fixes
  src/main/controllers/UserResultsController.ts
  src/main/modules/error-handler/index.ts
  src/main/modules/oidc/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-931
