Repository hmcts/idam-user-dashboard, pull requests merged in 2024-09, with the labels that each got.

#938 retry probem clicks
  package.json
  src/test/v2/common/shared_config.ts
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/sign_in_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-938

#913 Try fix role search again
  src/main/assets/js/RoleList.js
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-913

#954 increase dev memory/cpu
  charts/idam-user-dashboard/Chart.yaml
  charts/idam-user-dashboard/values.yaml
  src/test/v2/functional/edit_user_test.ts
  yarn-audit-known-issues
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-954

#943 Get principal token from request
  src/main/app.ts
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/DownloadReportController.ts
  src/main/controllers/ManageUserController.ts
  src/main/controllers/UserDeleteController.ts
  src/main/controllers/UserEditController.ts
  src/main/controllers/UserRemoveSsoController.ts
  src/main/controllers/UserSuspendController.ts
  src/main/controllers/ViewReportController.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/DownloadReportController.ts
  src/test/unit/test/controllers/ManageUserController.ts
  src/test/unit/test/controllers/UserDeleteController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserRemoveSsoController.ts
  src/test/unit/test/controllers/UserSuspendController.ts
  src/test/unit/test/controllers/ViewReportController.ts
  src/test/v2/common/factories/roles.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-943

#957 Increase devCpuLimits an devCpuRequests
  charts/idam-user-dashboard/Chart.yaml
  charts/idam-user-dashboard/values.yaml
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-957

#956 SIDM-9444 idamWrapper from injection
  src/main/controllers/AddPrivateBetaServiceController.ts
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/AddUserRolesController.ts
  src/main/controllers/DownloadReportController.ts
  src/main/controllers/ManageUserController.ts
  src/main/controllers/UserDeleteController.ts
  src/main/controllers/UserEditController.ts
  src/main/controllers/UserRemoveSsoController.ts
  src/main/controllers/UserResultsController.ts
  src/main/controllers/UserSuspendController.ts
  src/main/controllers/ViewReportController.ts
  src/main/interfaces/AuthedRequest.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/test/unit/test/controllers/AddPrivateBetaServiceController.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
  src/test/unit/test/controllers/AddUserRolesController.ts
  src/test/unit/test/controllers/DownloadReportController.ts
  src/test/unit/test/controllers/GenerateReportController.ts
  src/test/unit/test/controllers/ManageUserController.ts
  src/test/unit/test/controllers/UserDeleteController.ts
  src/test/unit/test/controllers/UserEditController.ts
  src/test/unit/test/controllers/UserRemoveSsoController.ts
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/test/controllers/UserSuspendController.ts
  src/test/unit/test/controllers/ViewReportController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-956

#959 SIDM-9380 tweaks
  src/main/modules/health/index.ts
  src/test/v2/common/factories/services.ts
  src/test/v2/common/shared_config.ts
  src/test/v2/common/steps_file.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-959

#960 SIDM-9380 wait for visible
  src/test/v2/functional/delete_user_test.ts
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/register_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-960

#963 Fixed dependency issues.
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-963

#961 SIDM-9380 more tweaks
  src/main/app/authorized-axios/AuthorizedAxios.ts
  src/test/v2/common/factories/users.ts
  src/test/v2/common/shared_config.ts
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/register_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-961

#967 SIDM-9380 await more
  src/test/v2/common/shared_config.ts
  src/test/v2/functional/edit_user_remove_sso_test.ts
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/generate_user_report_test.ts
  src/test/v2/functional/register_private_beta_citizen_test.ts
  src/test/v2/functional/register_user_test.ts
  src/test/v2/functional/search_user_test.ts
  src/test/v2/functional/sign_in_test.ts
  src/test/v2/functional/suspend_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-967

#968 SIDM-9380 await even more
  src/test/v2/common/steps_file.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-968

#971 SIDM-9380 more awaits
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/register_private_beta_citizen_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-971

#974 Fix accessibility report in user dashboard.
  package.json
  src/test/a11y/aggregateAccessibilityResults.js
  src/test/a11y/amendAccessibilityReport.js
  src/test/v2/common/steps_file.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-974

#984 SIDM-9399 use winston logging
  config/default.yaml
  package-lock.json
  package.json
  src/main/app.ts
  src/main/app/idam-api/IdamAPI.ts
  src/main/app/invite-service/InviteService.ts
  src/main/app/reports/ReportsHandler.ts
  src/main/app/service-provider-service/ServiceProviderService.ts
  src/main/controllers/DownloadReportController.ts
  src/main/modules/appinsights/index.ts
  src/main/modules/awilix/index.ts
  src/main/modules/error-handler/index.ts
  src/main/modules/logging/index.ts
  src/main/modules/oidc/index.ts
  src/main/server.ts
  src/main/typing/@hmcts/nodejs-logging.d.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/app/invite-service/InviteService.ts
  src/test/unit/test/app/reports/ReportsHandler.ts
  src/test/unit/test/app/service-provider-service/ServiceProviderService.ts
  src/test/unit/test/controllers/DownloadReportController.ts
  src/test/unit/utils/mockLogger.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-984

#975 SIDM-9225 fix
  src/test/cross-browser/supportedBrowsers.js
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-975

#991 SIDM-9380 more awaiting
  src/test/v2/functional/edit_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-991

#992 SIDM-9380 confirm checkbox changes
  src/test/v2/functional/delete_user_test.ts
  src/test/v2/functional/edit_user_remove_sso_test.ts
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/register_user_test.ts
  src/test/v2/functional/suspend_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-992

#993 SIDM-9380 try creating users again
  src/test/v2/common/factories/users.ts
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/edit_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-993
