Repository hmcts/idam-user-dashboard, pull requests merged in 2024-04, with the labels that each got.

#873 SIDM-9122 User friendly message
  src/main/app/invite-service/InviteService.ts
  src/main/controllers/AddUserRolesController.ts
  src/main/views/add-user-completion.njk
  src/test/unit/test/controllers/AddUserRolesController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-873

#872 SIDM-9104 show last login time
  config/default.yaml
  src/main/app/idam-api/IdamAPI.ts
  src/main/controllers/UserResultsController.ts
  src/main/interfaces/V2User.ts
  src/main/modules/oidc/index.ts
  src/main/utils/roleUtils.ts
  src/main/utils/utils.ts
  src/main/views/user-details.njk
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/controllers/UserResultsController.ts
  src/test/unit/test/utils/utils.ts
  src/test/unit/utils/mockApi.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-872

#874 Bump Puppeteer
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-874

#877 Sidm 9104 2
  charts/idam-user-dashboard/Chart.yaml
  package.json
  src/main/controllers/UserResultsController.ts
  src/main/utils/utils.ts
  src/test/unit/test/utils/utils.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-877

#881 Dependency check fixes.
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-881

#883 SIDM-9208 uncheck hidden
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/register_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-883

#882 SIDM-8398 Remove return to search button
  src/main/controllers/UserResultsController.ts
  src/main/views/user-details.njk
  src/test/unit/utils/mockRequest.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-882
