Repository hmcts/idam-user-dashboard, pull requests merged in 2024-10, with the labels that each got.

#997 Fix healthcheck logging
  src/main/modules/health/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-997

#996 SIDM-9431 Reduce roles pre-caching in User Dashboard
  src/main/controllers/AddUserDetailsController.ts
  src/main/controllers/UserEditController.ts
  src/main/controllers/UserResultsController.ts
  src/main/modules/oidc/index.ts
  src/main/utils/roleUtils.ts
  src/test/unit/test/controllers/AddUserDetailsController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-996

#1000 configurable healthcheck
  config/custom-environment-variables.yaml
  config/default.yaml
  src/main/modules/health/index.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1000

#1005 SIDM-9380 retries
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/edit_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1005

#1012 Fixed dependencies. Upgraded cookie version.
  package.json
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1012

#1007 awaits
  src/test/v2/functional/delete_user_test.ts
  src/test/v2/functional/edit_user_remove_sso_test.ts
  src/test/v2/functional/edit_user_test.ts
  src/test/v2/functional/generate_user_report_test.ts
  src/test/v2/functional/register_private_beta_citizen_test.ts
  src/test/v2/functional/register_user_test.ts
  src/test/v2/functional/search_user_test.ts
  src/test/v2/functional/sign_in_test.ts
  src/test/v2/functional/suspend_user_test.ts
  src/test/v2/functional/view_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1007

#1013 SIDM-9380 remove special characters and different retry
  src/test/v2/common/factories/roles.ts
  src/test/v2/common/factories/services.ts
  src/test/v2/common/steps_file.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1013

#1020 Revert "Try fix role search again"
  src/main/assets/js/RoleList.js
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1020

#1022 Renovate config packageRules bump
  .github/renovate.json
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1022

#1023 SIDM-9380 Filter for pending invites and other fixes
  src/test/v2/common/steps_file.ts
  src/test/v2/functional/register_user_test.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1023

#1025 SIDM-9305 telemetry
  package-lock.json
  package.json
  src/main/app.ts
  src/main/app/authorized-axios/AuthorizedAxios.ts
  src/main/app/idam-api/IdamAPI.ts
  src/main/app/reports/ReportsHandler.ts
  src/main/controllers/UserEditController.ts
  src/main/modules/appinsights/index.ts
  src/main/modules/awilix/index.ts
  src/main/modules/error-handler/index.ts
  src/main/modules/health/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/opentelemetry/index.ts
  src/main/modules/properties-volume/index.ts
  src/main/server.ts
  src/test/unit/test/app/idam-api/IdamAPI.ts
  src/test/unit/test/app/reports/ReportsHandler.ts
  yarn.lock
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1025

#1028 SIDM-9305 remove console log
  java/.gitignore
  src/main/app/invite-service/InviteService.ts
  src/main/app/service-provider-service/ServiceProviderService.ts
  src/main/controllers/ManageUserController.ts
  src/main/controllers/UserResultsController.ts
  src/main/utils/roleUtils.ts
  src/test/unit/test/controllers/ManageUserController.ts
Labels: ns:idam, prd:idam, rel:idam-user-dashboard-pr-1028
